/* Importing the Google Fonts I'm Using */
@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Atomic Age Regular'), local('AtomicAge-Regular'), url(https://fonts.gstatic.com/s/atomicage/v12/f0Xz0eug6sdmRFkYZZGL18bn8Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(https://fonts.gstatic.com/s/cutivemono/v8/m8JWjfRfY7WVjVi2E-K9H6RCTms.ttf) format('truetype');
}
/* Base Reset & Formatting */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: black;
}
/* Basic Formatting */
body {
  font-family: Cutive Mono, monospace;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
}
h1 {
  color: white;
  font-family: Atomic Age, cursive;
  font-variant: small-caps;
  font-size: 7rem;
  font-weight: 800;
  text-align: center;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}
ul {
  list-style: none;
}
a,
span {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
span {
  display: flex;
  align-items: flex-end;
  margin-right: 2rem;
}
.navbar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1rem 0 1em 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(48, 133, 167, 0.8);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.navbar .nav-list {
  display: flex;
  margin-right: 2rem;
}
.navbar .nav-list a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}
.navbar .nav-list a:hover {
  background: #181b1b;
  padding: 5px;
  border-radius: 5px;
}
/* Welcome Section Formatting */
.welcome-section {
  background: url(../../images/Mountains.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome-section canvas {
  position: absolute;
}
.welcome-section .header-text p {
  color: #3085a7;
  font-size: 4rem;
}
/* Project Section Formatting */
.projects {
  background-color: #3085a7;
  display: block;
  padding: 8% 0;
  border-top: solid black;
  border-bottom: solid black;
}
.projects h1 {
  margin-bottom: 50px;
}
.projects .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects .grid .project-card {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.projects .grid .project-card:hover {
  background-color: #181b1b;
  border-radius: 5px;
}
.projects .grid .project-card div {
  height: 80%;
  padding: 2rem;
  overflow: hidden;
}
.projects .grid .project-card div .project-img {
  display: flex;
  align-items: center;
}
.projects .grid .project-card div .project-img img {
  width: 100%;
}
.projects .grid .project-card .code {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.projects .grid .project-card .code:hover {
  color: #3085a7;
}
/* Contact Section & Footer Formatting */
.contact {
  padding: 100px 50px 100px 50px;
  background-color: var(--main-black);
  background-image: linear-gradient(to bottom, #181b1b, #000000);
}
.contact h1 {
  padding-bottom: 5rem;
}
.contact .contact-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contact .contact-list a {
  margin-top: 2rem;
}
.contact .contact-list a i:hover {
  background-color: #3085a7;
  padding: 1rem 2rem;
  border-radius: 5px;
}
footer {
  padding-bottom: 5rem;
  background-color: black;
  text-align: center;
  color: #3085a7;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 45em) {
  html {
    font-size: 56%;
  }
  nav a {
    font-size: 75%;
  }
}
@media (max-width: 28.75em) {
  html {
    font-size: 54%;
  }
  nav a {
    font-size: 50%;
  }
}
@media (max-width: 24.37em) {
  html {
    font-size: 40%;
  }
}
