
/* Welcome Section Formatting */
.welcome-section {
  background: url(../../images/Mountains.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  canvas {
    position: absolute;
  }

  .header-text {

    p {
      color: @main-blue;
      font-size: 4rem;
    }
  }
}
