/* Project Section Formatting */
.h3links {
  color: @main-orange;
}

.projects-container {
  background-image: linear-gradient(260deg, @main-accent, #123e50);
  display: block;
  padding: 8% 0;
  border-top: solid 2px black;
  border-bottom: solid 2px black;

  h2 {
    margin-bottom: 50px;
  }

  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    .featured-project {
      width: 80%;
      margin-bottom: 3rem;

      h3 {

        a:hover {
          color: @main-orange;
          transition: .5s;
        }
      }
      h4 {
        text-transform: uppercase;
      }
      h4, p {
        margin-left: 2.5rem;
      }
      p {
        span {
          display: block;
          color: @main-color;
          margin: 1rem 0 0 2.5rem;
        }
      }
    }
  }

  .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      background-color: @main-font-color;
      border-radius: .5rem;
      width: 40%;
      transition: .5s;
      text-align: center;

      @media (max-width: 700px) {
        width: 80%;
      }

      h3 {
        padding: 1rem;
      }

      &:hover {
        background-color: @main-color;
        cursor: pointer;
        transition: .5s;

        h3 {
          color: @main-font-color;
          text-shadow:
            -1.5px -1.5px 0 @main-accent,
            1.5px -1.5px 0 @main-accent,
            -1.5px 1.5px 0 @main-accent,
            1.5px 1.5px 0 @main-accent;
        }
      }
    }
  }
}

// PROJECTS PAGES

.projects-container {

  .projects-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 45%;
      text-align: center;

      @media (max-width: 700px) {
        max-width: 100%;
      }

      .card {
        overflow: hidden;
        position: relative;

        &:hover {
          .card-hover {
            visibility: visible;
            height: 350px;
            background-color: @main-color;
            transition: ease .5s;
            cursor: pointer;

            ul {
              list-style: square inside;
              margin-left: 1rem;
            }
          }
        }

        .card-hover {
          width: 100%;
          position: absolute;
          visibility: hidden;
          color: lightgrey;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
          // text-align: center;
        }

        .code {
          margin-top: 2rem;
          padding-bottom: 2rem;
          display: flex;
          justify-content: center;
          transition: .25s;

          .brackets {
            display: none;
          }

          &:hover {
            color: @main-color;

            .brackets {
              display: inherit;
              color: @main-color;
            }
          }
        }
      }
    }
  }
}
