html
{
  background-image: url("TolienTribute.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title
{
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  font-family: Courier;
  letter-spacing: 3px;
  color: #daa520;
  background-color: #101010;
  padding: 20px;
  margin: 0 20% 0 20%;
  border-right: ridge 10px #daa520;
  border-left: ridge 10px #daa520;
  border-top: ridge 10px #daa520;
  opacity: .9;
}

#subtitle
{
  text-align: center;
  font-size: 1.2rem;
  font-variant: small-caps;
  font-family: Courier;
  color: #ffffff;
  background-color: #101010;
  padding-bottom: 20px;
  margin: 0 20% 20px 20%;
  border-right: ridge 10px #daa520;
  border-left: ridge 10px #daa520;
  border-bottom: ridge 10px #daa520;
  opacity: .9;
}

img
{
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .75);
}

#img-caption
{
  text-align: center;
  margin: 0 auto 20px auto;
}

#headline
{
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 30px;
  margin: 0 5% 0 5%;
  background-color: #101010;
  border-left: ridge 10px #daa520;
  border-top: ridge 10px #daa520;
  border-right: ridge 10px #daa520;
  padding-top: 30px;
  opacity: .9;
}

ul{
  margin: 0 5% 0 5%;
  text-align: justify;
  line-height: 1.5;
  background-color: #101010;
  border-left: ridge 10px #daa520;
  border-bottom: ridge 10px #daa520;
  border-right: ridge 10px #daa520;
  opacity: .9;
}

li
{
  margin: 15px 0;
}

#tribute-list
{
  padding: 30px 100px 30px 100px;
  font-size: 20px;
  color: #ffffff;
}

#resources
{
  text-align: center;
}
